.modal{
	position: fixed;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	/* box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff; */
}

.modal-content{
	width: 80%;
	background-color: #fff;

}
.modal-header, .modal-footer{
	padding: 10px;
}

.modal-title{
	margin: 0;
}
.modal-body{
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}